<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title %></title>
  <link type="text/css" rel="stylesheet" href="./style.css">
</head>
<body>
  <header>
    <h1><%= title %></h1>
  </header>
  <div role="main">
    <p><%= content %></p>
    <p><table style="width:85%;">
      <% for(var key in data) { %>
        <%= include('data_item', {key:key, val:data[key]})%>
      <% } %>
    </table></p>
    <!-- <form action="/" method="post">
      <p>
        <input type="text" name="message">
        <input type="submit" value="送信">
      </p>
    </form> -->
  </div>
</body>
</html>
